@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
body{
    background: #000;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{
    width: 375px;
    height: 1063px;
    background:#ffffff;
    margin: 0 auto;
    position:relative;

}
.header{
    display:flex;
    width: 100%;
    height: 50px;
    justify-content:flex-end;
}
i{
    font-size:30px;
    margin:10px;
    transition: 0.17s ease-out;
  }
  i:hover{
    font-size: 35px;
  }
  .nav{
    display:none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position:absolute;
    top:0px;
    left:0px;
    width:375px;
    height:100vh;
    background: #21243D;
    list-style-type: none;
  }
  .white-icon{
    color:#E0E0E0;
  }
  .nav a{
    color:#E0E0E0;
    font-size: 20px;
    text-decoration: none;
    transition: 0.17s ease-out;
  }
  .nav a:hover{
    font-size: 25px;
    color:white;
  }
.blogT{
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color:#21243D;
    margin: 24px 18px;
}
.blog1{
    width: 339px;
    height: 204px;
    margin: 18px;
    border-bottom: 1px solid #E0E0E0;
}
.mtext{
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 38.19px;
    color:#21243D;
}
.datebox{
    width: 265px;
    height: 24px;
    margin:5px 0 17px 0;
    display: inline-block;
}
.date{
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    color:#21243D;
}
.express{
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    color:#8695A4;
    margin:-23.5px 0 0 109px;
}
.text{
    width: 339px;
    height: 96px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    color:#21243D;
}
.footer{
    width: 375px;
    height: 182px;
    margin-top:57px;
    display: inline-block;
}
.icon1,.icon2,.icon4{
    width: 30px;
    height: 30px;
}
.icon3{
    width:36.92px;
    height: 30px;
}
.iconbox{
    width: 232px;
    height: 30px;
    display:flex;
    justify-content:space-between;
    margin:51px 0 0 71px;
}
.RReserved{
    width: 375px;
    height: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 20.56px;
    text-align:center;
    margin-top:26px;
}