@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
body{
    background: #000;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{
    width: 375px;
    height: 1265px;
    background:#ffffff;
    margin: 0 auto;
    position:relative;

}
.header{
    display:flex;
    width: 100%;
    height: 50px;
    justify-content:flex-end;
}
i{
    font-size: 30px;
    margin: 10px;
}
.nav{
    display:none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position:absolute;
    top:0px;
    left:0px;
    width:375px;
    height:100vh;
    background: #21243D;
    list-style-type: none;
  }
  .white-icon{
    color:#E0E0E0;
  }
  .nav a{
    color:#E0E0E0;
    font-size: 20px;
    text-decoration: none;
  }
.workT{
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color:#21243D;
    margin:24px 0 13px 18px;
}
.ddbox{
    width: 344px;
    height: 455px;
    margin: 13px 0 22px 18px;
    border-bottom: 1px solid #E0E0E0;
}
.ddimg{
    width: 339px;
    height: 230px;
    border-radius:6px;
}
.ddmText{
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size:24px;
    line-height: 30px;
    color:#21243D;
    margin:16px 0;
    width: 244px;
    height: 30px;
}
.ddyear{
    width: 62px;
    height: 25px;
    background:#21243D;
    border-radius:16px;
}
.ddyeart{
    font-family: "Heebo", sans-serif;
    font-weight: 900;
    font-size:16px;
    color:white;
    width: 38px;
    height: 25px;
    margin:0 12px;
}
.ddDb{
    width: 78px;
    height: 24px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 23.5px;
    color:#8695A4;
    margin:-25px 84px;
}
.ddText{
    width: 344px;
    height: 96px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 23.5px;
    color:#21243D;
    margin:44px 0;
}
.ddbox1{
    width: 344px;
    height: 455px;
    margin: 22px 0 0 18px;
    border-bottom: 1px solid #E0E0E0;
}
.footer{
    width: 375px;
    height: 182px;
    display: inline-block;
}
.icon1,.icon2,.icon4{
    width: 30px;
    height: 30px;
}
.icon3{
    width:36.92px;
    height: 30px;
}
.iconbox{
    width: 232px;
    height: 30px;
    display:flex;
    justify-content:space-between;
    margin:51px 0 0 71px;
}
.RReserved{
    width: 375px;
    height: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 20.56px;
    text-align:center;
    margin-top:26px;
}